VITE_MODULE1_URL=https://cassia-santos-nunes-almeida.github.io/EM-AC-Lab-Module1
VITE_MODULE2_URL=https://cassia-santos-nunes-almeida.github.io/EM-AC-Lab-Module2
VITE_MODULE3_URL=https://cassia-santos-nunes-almeida.github.io/EM-AC-Lab-Module3
